.principal {
  margin-top: 140px;
  margin-bottom: 200px;
 }

.aboutSection {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-top: 250px;
}
.aboutSection > div {
  width: 50%;
  padding: 10px;

}
.aboutSection > div:first-child  {
  margin-right: 10px;

 }
/*.img-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width:100%;
  min-height: 100%;
  background-repeat: no-repeat;
  opacity: 25%;
}*/

.aboutImage {
  display: flex;
  margin:auto;

}


