.principal {
  margin-top: 140px;

    }

.aboutSection {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-top: 250px;
}
.aboutSection > div {
  width: 50%;
  padding: 10px;

}
.aboutSection > div:first-child  {
  margin-right: 10px;
 }

