* {
  margin: 0;
  padding: 0;
}
footer {
  margin-top: auto;
  padding: 20px 0 20px 0;
  background-color: #000000;
  color: white;
}
.text-lighter {
  font-weight:lighter;
  text-decoration: none;
 }
a.social-link {
  color: white;
  margin-right:5px;
}

footer p {
  line-height: 0.6;
  padding-left: 5px;
}
a.text-lighter {
  color: white;

  &:focus {
    color: rgba(137, 177, 21, 1);
  }
  &:hover {
    color: rgba(196, 196, 196, 1);
    text-decoration: none;
  }}