.principal{
  margin-top: 140px;
}

h5{
  display:flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.metodos {
  width: 42px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 3px;
}

