@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;


  .navigationBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    background-color: #FFFFFF;

    * {
      text-decoration: none;
      padding: 10px;
    }
  }
}

.aboutSection{
  padding:40px;

}

.shirtSection{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .shirt{
    width: 100px;
    border: thin solid black;
    border-radius: 10px;
    margin:10px;
    padding:10px;

    &:hover{
      transform: translate(1px,1px);
      background-color: aquamarine;
      cursor: pointer;

    }
  }
}
