.carouselContainer {
  height: 679px;
  width: 100%;

  img {
    height: 679px;
    width: auto;
    object-fit: cover;

  }
  span.sr-only {
     color: transparent;
     text-decoration: none;
}
}
.postal{
  margin-top: 2%;
  margin-bottom: 11%;
  margin-right: 20%;
  width: 100%;
}
