@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
  text-decoration: none;
  padding: 10px;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
  .navigationBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    background-color: #FFFFFF;
  }
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);

  &:focus {
    color: rgba(137, 177, 21, 1);
  }
  &:hover {
    color: rgba(196, 196, 196, 1);
  }}

  .carro:hover{
    color: rgba(196, 196, 196, 1);
  }
img.logo {
  height: 50px;
}
button.navbar-toggler.collapsed {
  border: none;
}